{% extends 'blogapp/base.html' %}
{% load static %}
{% block content %}
   <div class="row">
   <h3 class="col-sm-6 mx-auto">About</h3>
    </div>
   </div>
   <div class="container">
      <div class="row">
        <div class="col-sm-6 mx-auto">
         The Blog App is a common feature of most websites and web applications that allow users to share their thoughts, opinions, and stories with others. In Django, building a blog app involves creating a model to store blog posts and their associated data, such as the post title, content, author, publication date, and other relevant information. The app also includes views to render the blog posts in a user-friendly format, such as a list of posts or individual post pages. Additionally, the blog app can have features such as comments, tags, categories, and a search function to make it easier for users to find and engage with content that interests them. With the Django framework, it's relatively straightforward to build a robust and customizable blog app that can be integrated into any website or web application.
        </div>
      </div>
    </div>
    

{% endblock content %}
  